/* loading.css */

/* Full page black background */
body {
    background-color: black;
}

/* Container for the loading screen */
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Fade in/out transition */
    z-index: 2000; /* Ensure the loading screen is on top */
    color: white;
}

/* Fly up effect */
.loading-circle {
    border: 8px solid #f3f3f3; /* Light background for the circle */
    border-top: 8px solid #3498db; /* Blue color for the top */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite, flyUp 1s ease-out forwards; /* Spinning and fly up animation */
}

/* Loading text style */
.loading-text {
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

/* Spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Fly up effect for the loading circle */
@keyframes flyUp {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%); /* Moves the circle up */
    }
}

/* Make loading text visible after the circle flies up */
.loading-container.show-text .loading-text {
    opacity: 1;
    transform: translateY(0);
}
